#style-switcher h2 a { background: #24c3f8; }
.section-title h2::after {
	border-bottom: 3px double #24c3f8;
}
.carousel-indicators .active {
	background-color: #24c3f8;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #24c3f8 none repeat scroll 0 0;
}
.header-top-info {
	background: #24c3f8 none repeat scroll 0 0;
}
.button{
	color: #24c3f8;
	border: 2px solid #24c3f8;
}
.button:before {
	background: #24c3f8 none repeat scroll 0 0;
}
.home-btn-bg {
	background: #24c3f8;
}
.mainmenu ul.nav.navbar-nav li a:hover { color: #24c3f8 !important }
.is-sticky .mainmenu ul.nav.navbar-nav li.active a { color: #24c3f8 !important }
.is-sticky .navbar-brand {
    color: #24c3f8 !important;
}
.skills-progress .progress-bar {
	background: #24c3f8 none repeat scroll 0 0;
}
.about-text li i {
	color: #24c3f8;
}
.single-service i {
	color: #24c3f8;
}
a.read-more:hover i,
a.read-more:hover {
	color:#24c3f8;
}
.count-area:after {
    background: rgba(36, 195, 248, 0.8) none repeat scroll 0 0;
}
.single-choose i {
	color: #24c3f8;
}
.single-choose:hover i {
	background: #24c3f8;
}
.portfolio-filter ul li.active,
.portfolio-filter ul li:hover { border: 2px solid #24c3f8 }
.work-icon a:hover{
	color: #24c3f8 !important;
}
.testimonial-area:after {
    background: rgba(36, 195, 248, 0.8) none repeat scroll 0 0;
}
.team-social-link a:hover{
	color: #24c3f8 !important;
}
.single_pricing.recommended .price h4,
.single_pricing:hover .price h4 { color: #24c3f8 }
.single-product > a > i {
    background: #24c3f8 none repeat scroll 0 0;
}
.blog-content span i {
	color: #24c3f8;
}
.subscribe-area:after {
    background: rgba(36, 195, 248, 0.8) none repeat scroll 0 0;
}
.signup-btn-bg:hover {
	color: #24c3f8 !important;
}
.form-control:hover,
.form-control:focus {
    border-color: -moz-use-text-color -moz-use-text-color #24c3f8;
}
.btn-contact-bg:hover,
.btn-contact-bg:focus {
    background: #24c3f8 none repeat scroll 0 0;
}
.single-contact-info i {
    background: #24c3f8;
}
.single-latest-post span i {
	color: #24c3f8;
}
.single-latest-post:hover a h2{
	color: #24c3f8;
}
.footer-widget ul li a i {
	color: #24c3f8;
}
.footer-widget ul li a:hover {
    color: #24c3f8;
}
.social-icon a i:hover {
	color: #24c3f8;
}
.copyright {
    background: #24c3f8;
}
.single-blog-info span i,
.single-comment span i {
	color: #24c3f8;
}
.search-box input:hover,
.search-box input:focus {	border: 1px solid #24c3f8 }
.categories li a:hover {
    color: #24c3f8;
}
.categories li a i {
	color: #24c3f8;
}
.tags li a:hover {
    background: #24c3f8 none repeat scroll 0 0;
    border: 1px solid #24c3f8;
}
.details-single-project li a,
.details-single-project li i {
	color: #24c3f8;
}