.main {
    display: flex;
    width: 80%;
    text-align:center ;
    padding-top: 100px;
    margin-top: 640px;
    margin-left: 150px;
    margin-bottom: 150px;

    h1 {
        font-size: 54px;
        font-family: 'Courgette', cursive;
        color: darkblue;
        text-shadow: 2px 2px 2px mediumorchid;
       }
     
       p {
        margin-top: 20px;
        font-size: 20px;
        font-style: italic;
        color: darkblue;
        line-height: 50px;
    
       }

       
       
      
       
}
